/* --- Neumorphic Button Style --- */
.button {
  width: 100%;
	height: 50px;
	cursor: pointer;
	background: #333;
	margin: 5px 0;
	border: none;
	border-radius: 10px;
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
	color: #ccc;
	font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  gap: 1rem;
  transition: 500ms;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
	font-size: 15px;
}

.button:focus {
	outline: none;
}

.red:hover {
	color: #f07171;
	text-shadow: 0px 0px 10px #f07171;
}

.green:hover {
	color: #93f071;
	text-shadow: 0px 0px 10px #93f071;
}

.blue:hover {
	color: #71b7f0;
	text-shadow: 0px 0px 10px #71b7f0;
}

.purple:hover {
	color: #b971f0;
	text-shadow: 0px 0px 10px #b971f0;
}

/* --- Baldur's Gate Title Style --- */
.titleFrame {
  touch-action: manipulation;
  background: none;
  position: relative;
  border-width: 4px 12px;
  border-style: solid;
  border-color: transparent;
  padding: 8px 16px; /* Adjusted padding */
  text-align: center;
  color: #fff;
  width: 100%;
  margin-bottom: 8px; /* Added margin */
}

.titleBackground {
  position: absolute;
  z-index: 2;
  inset: 0;
  clip-path: polygon(12px 0, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
  background-color: saddlebrown;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.8)), linear-gradient(to bottom, #af6a65, calc(12.5% - 1px), #cfa381, #88312b calc(12.5% + 1px) 50%, #601d2c 50% calc(87.5% - 1px), #994021, #341227 calc(87.5% + 1px));
}

.titleText {
  background: linear-gradient(180deg, #FFE5C2 1%, #CDAF87 100%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 3;
  position: relative;
  font-size: 0.75rem; /* 12px */
  text-transform: uppercase;
  font-weight: 300; /* Lighter font weight */
}

.titleBorder {
  position: absolute;
  z-index: 1;
  inset: -4px -12px;
}

@supports (-webkit-mask-box-image: inherit) or (mask-border: inherit) {
  .titleBorder {
    background-image: linear-gradient(to bottom, #bb9d7a 50%, #806d56 50%);
    -webkit-mask-box-image-source: url("https://csspro.com/css-3d-buttons/buttons-img/baldurs-gate-3-border.svg");
    -webkit-mask-box-image-slice: 15 23;
    -webkit-mask-box-image-width: 15px 23px;
    -webkit-mask-box-image-repeat: repeat;
    mask-border-source: url("https://csspro.com/css-3d-buttons/buttons-img/baldurs-gate-3-border.svg");
    mask-border-slice: 15 23;
    mask-border-width: 15px 23px;
    mask-border-repeat: repeat;
  }
}

@supports not ((-webkit-mask-box-image: inherit) or (mask-border: inherit)) {
  .titleBorder {
    border-width: 15px 23px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url("https://csspro.com/css-3d-buttons/buttons-img/baldurs-gate-3-border-inverted.svg");
    border-image-slice: 15 23;
    border-image-width: 15px 23px;
    border-image-repeat: repeat;
    background-image: linear-gradient(#000, #000), linear-gradient(to bottom, #bb9d7a 50%, #806d56 50%);
    background-origin: content-box, border-box;
    background-repeat: no-repeat;
    filter: url("#remove-black-button-13");
  }
}
